<!DOCTYPE html>
<html>
<head>
  <title>MyNewApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="nav-container">
  <ul id="nav">
	  <li class="item"><%= link_to 'Home', root_path %></li>
	  <li class="item"><%= link_to 'About', about_path %></li>
	  <li class="item"><%= link_to 'Model', cats_path %></li>
	  
	  <% if user_signed_in? %>
		  <li>Signed in in as <%= current_user.email %></li>
		  <li><%= link_to "Sign Out", sign_out_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign In", sign_in_path %></li>
    <% end %>
	  
	</ul>
	<div id="time">
		<p><%= dateTime %></p>
	</div>
</div>

<%= yield %>

</body>
</html>
