<!DOCTYPE html>
<html>
<head>
  <title>MyNewApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="nav-container">
  <ul id="nav">
	  <li class="item"><%= link_to 'Home', root_path %></li>
	  <li class="item"><%= link_to 'Blog', posts_path %></li>
	  
	
	  
	</ul>
	<div id="time">
		<% if user_signed_in? %>
	  <li class="item"><%= link_to "Sign Out", sign_out_path, method: :delete %></li>
    <% else %>
      <li class="item"><%= link_to "Sign In", sign_in_path %> OR <%= link_to "Sign Up", sign_up_path %> </li>
    <% end %>
	</div>
</div>

<% flash.each do |type, message| %>
  <div class="<%= type %>">
    <p><%= message %></p>
  </div>
<% end %>

<%= yield %>

</body>
</html>
